@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    
    font-family: 'Quicksand', sans-serif;
}

b{
    color: red
}

section{
    color: white;
    background-color: #13293D;
    border-radius: 15px;
    padding: 10px;
}

h1{
    text-align: center;
}